<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>Microservice</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./css/myStyle.css"> -->
    </head>
        

    <body>
        <div id="raw-json">
            {{ responseJSON }}
        </div>

        <hr>

        <div id="json rows">
            {% for job in responseJSON %}
            <div>{{ job[0] }}</div>
            <div>{{ job[1] }}</div>
            <div>{{ job[2] }}</div>
            <hr>
            {% endfor %}
        </div>


    </body>
</html>